/* Use border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
}

span {
  display: inline-block;
}

/* Main */
#californian-weekly {
  height: 100%;
  margin: 0 10%;

  display: flex;
}

#californian-weekly > * {
  flex: 1;
}

#californian-weekly #sign-up {
  flex: 2;
}

#bg-img .backgound {
  height: 100%;
  width: 100%;
}

#sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

#sign-up .container {
  padding: 12px 48px 48px;
  background-color: whitesmoke;
}

#sign-up .container .header {
  padding: 12px 0;
  font-size: 22px;
  font-weight: 900;
}

#sign-up .container .user-info {
  border: none;

  display: flex;
  flex-wrap: wrap;
}

#sign-up .container .user-info > .field {
  flex: 1;
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
}

#sign-up .container .user-info > .field > label {
  font-size: 12px;
  font-weight: 300;
}

#sign-up .container .user-info > .field > input {
  padding: 4px 8px;
  border: 2px solid #e5e7eb;
  border-radius: 2px;
}

#sign-up > span {
  padding: 0 48px;
  font-size: 18px;
  font-weight: 600;
}

#sign-up .form-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #83623e;
  color: white;
  font-size: 14px;
  font-weight: 900;
}

#sign-up .form-terms {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 16px;
  font-size: 11px;
}
